@using dotnet.Models;
@using dotnet.Models.TechnicalSkills;
@using dotnet.Models.SoftSkills;
@using dotnet.Models.Personas;
@using dotnet.Models.Educations;
@using dotnet.Models.Jobs;
@using dotnet.Models.Responsibilities;

@{
    ViewData["Title"] = "About Me";
    var persona = ViewData["Persona"] as Persona;
    var technicalSkills = ViewData["TechnicalSkills"] as List<TechnicalSkill>;
    var softSkills = ViewData["SoftSkills"] as List<SoftSkill>;
    var education = ViewData["Educations"] as List<Education>;
    var jobs = ViewData["Jobs"] as List<Job>;
    var responsibilities = ViewData["Responsibilities"] as List<Responsibility>;
}

<body>
    <div class="persona container">
        <div class="row justify-content-left">
            <div class="col">
                <h1><b>@persona.Name</b></h1>
            </div>
        </div>
    </div>

    <hr />

    <div class="technicalSkills container">
        <div class="row text-left">
            <div class="col">
                <h3>Technical Skills</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <ul style="list-style-type: none">
                    <h4><u>Languages</u></h4>
                    @foreach (TechnicalSkill technicalSkill in technicalSkills)
                    {
                        @if (technicalSkill.Type == "Language")
                        {
                            <li>@technicalSkill.Name</li>
                        }
                    }
                </ul>
            </div>
            <div class="col-4">
                <ul style="list-style-type: none">
                    <h4><u>Technologies</u></h4>
                    @foreach (TechnicalSkill technicalSkill in technicalSkills)
                    {
                        @if (technicalSkill.Type == "Technology")
                        {
                            <li>@technicalSkill.Name</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <hr />

    <div class="softSkills container">
        <div class="row text-left">
            <div class="col">
                <h3>Soft Skills</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <ul>
                    @foreach (SoftSkill softSkill in softSkills)
                    {
                        <li><b>@softSkill.Title</b>: @softSkill.Subtitle</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <hr />

    <div class="experience container">
        <div class="row text-left">
            <div class="col">
                <h3>Professional Experience</h3>
            </div>
        </div>
        @foreach (Job job in jobs)
        {
            <div class="container">
                @if (job.Id != 1)
                {
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <hr />
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col">
                        <h5 class="text-left"><b>@job.Position</b></h5>
                    </div>
                    <div class="col text-right">
                        <b>@job.BeginDate - @job.EndDate</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <b>@job.Company - @job.Locale</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        @job.Description
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <u>Responsibilities</u>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul style="list-style-type: disc">
                            @{
                                List<Responsibility> jobResps = responsibilities.FindAll(delegate (Responsibility r){return r.JobId == job.Id;});
                                foreach(Responsibility resp in responsibilities)
                                {
                                    <li class="text-left">@resp.Description</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</body>