@using dotnet.Models;
@using dotnet.Models.TechnicalSkills;
@using dotnet.Models.SoftSkills;
@using dotnet.Models.Persona;
@using dotnet.Models.Education;
@using dotnet.Models.Jobs;

@{
    ViewData["Title"] = "Resume";
    var persona = ViewData["Persona"] as Persona;
    var technicalSkillsRepository = ViewData["TechnicalSkillRepository"] as ITechnicalSkillRepository;
    var softSkillsRepository = ViewData["SoftSkillRepository"] as ISoftSkillRepository;
    var educationRepository = ViewData["EducationRepository"] as IEducationRepository;
    var jobRepository = ViewData["JobRepository"] as IJobRepository;

    var technicalSkills = technicalSkillsRepository.GetAllTechnicalSkills();
    var softSkills = softSkillsRepository.GetAllSoftSkills();
    var education = educationRepository.GetAllEducation();
    var jobs = jobRepository.GetAllJobs();
}

<body>
    <div class="persona container">
        <div class="row justify-content-left">
            <div class="col">
                <h1>@persona.Name</h1>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-2">
                <p>@persona.Locale</p>
            </div>
            <div class="col-2">
                <p>@persona.Phone</p>
            </div>
            <div class="col-2">
                <p>@persona.Email</p>
            </div>
        </div>
    </div>


    <div class="technicalSkills container">
        <div class="row text-left">
            <div class="col">
                <h3>Technical Skills</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <ul style="list-style-type: none">
                    <h4>Languages</h4>
                    @foreach (TechnicalSkill skill in technicalSkills)
                    {
                        @if (skill.Type == "Language")
                        {
                            <li>@skill.Name</li>
                        }
                    }
                </ul>
            </div>
            <div class="col-4">
                <ul style="list-style-type: none">
                    <h4>Technologies</h4>
                    @foreach (TechnicalSkill technicalSkill in technicalSkills)
                    {
                        @if (technicalSkill.Type == "Technology")
                        {
                            <li>@technicalSkill.Name</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>



    <div class="softSkills container">
        <div class="row text-left">
            <div class="col">
                <h3>Soft Skills</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <ul>
                    @foreach (SoftSkill softSkill in softSkills)
                    {
                        <li><b>@softSkill.Title</b>: @softSkill.Subtitle</li>
                    }
                </ul>
            </div>
        </div>
    </div>



    <div class="experience container">
        <div class="row text-left">
            <div class="col">
                <h3>Professional Experience</h3>
            </div>
        </div>
        @foreach (Job job in jobs)
        {
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="text-left"><b>@job.Position</b></p>
                    </div>
                    <div class="col">
                        <p class="text-right"><b>@job.BeginDate - @job.EndDate</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-left"><b>@job.Company - @job.Locale</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-left">@job.Description</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="text-left"><u>Responsibilities</u></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <ul style="list-style-type: disc">
                            @foreach (string resp in job.Responsibilities)
                            {
                                <li><p class="text-left">@resp</p></li>
                            }
                        </ul>
                    </div>
                </div>


            </div>
        }
    </div>
</body>

@*<ul>
    @foreach (Job job in jobs)
    {
        <li><b>@job.Position</b></li>
        <li><b>@job.Company</b></li>
        <li><b>@job.Locale</b></li>
        <li>
            <ul>
                @foreach (string resp in job.Responsibilities)
                {
                    <li>- @resp</li>
                }
            </ul>
        </li>
        <li><b>@job.BeginDate</b></li>
        <li><b>@job.EndDate</b></li>
        <li><b>@job.Description</b></li>
    }
</ul>*@

@*<ul>
    Languages
    @foreach (TechnicalSkill skill in technicalSkills)
    {
        @if (skill.Type == "Language")
        {
            <li>@skill.Name</li>
        }
    }
</ul>
<ul>
    Technologies
    @foreach (TechnicalSkill technicalSkill in technicalSkills)
    {
        @if (technicalSkill.Type == "Technology")
        {
            <li>@technicalSkill.Name</li>
        }
    }
</ul>*@

@*<div class="text-center">
        <h1 class="display-4">Resume</h1>
        <h2 class="display-4">To do:</h2>
    </div>

    <div class="text-left">
        <ul>
            <li>Create Model Entities</li>
            <ul>
                <li><s>@persona.Name</s></li>
                <li>Professional Experience</li>
                <ul>
                    @foreach (Job job in jobs)
                    {
                        <li><b>@job.Position</b></li>
                        <li><b>@job.Company</b></li>
                        <li><b>@job.Locale</b></li>
                        <li>
                            <ul>
                                @foreach (string resp in job.Responsibilities)
                                {
                                    <li>- @resp</li>
                                }
                            </ul>
                        </li>
                        <li><b>@job.BeginDate</b></li>
                        <li><b>@job.EndDate</b></li>
                        <li><b>@job.Description</b></li>
                    }
                </ul>
                <ul>
                    Languages
                    @foreach (TechnicalSkill skill in technicalSkills)
                    {
                        @if (skill.Type == "Language")
                        {
                            <li>@skill.Name</li>
                        }
                    }
                </ul>
                <ul>
                    Technologies
                    @foreach (TechnicalSkill technicalSkill in technicalSkills)
                    {
                        @if (technicalSkill.Type == "Technology")
                        {
                            <li>@technicalSkill.Name</li>
                        }
                    }
                </ul>
                <li>Soft Skills</li>
                <ul>
                    @foreach (SoftSkill softSkill in softSkills)
                    {
                        <li><b>@softSkill.Title</b>: @softSkill.Subtitle</li>
                    }
                </ul>
                <li>Education</li>
                <ul>
                    @foreach (Education edu in education)
                    {
                        <li><b>@edu.Program</b> - @edu.Institution, @edu.Locale | @edu.BeginYear - @edu.EndYear</li>
                    }
                </ul>
            </ul>
            <li>Create data-driven view</li>
        </ul>
    </div>*@