@using dotnet.Models;
@using dotnet.Models.TechnicalSkills;
@using dotnet.Models.SoftSkills;
@using dotnet.Models.Persona;

@{
    ViewData["Title"] = "Resume";
    var persona = ViewData["Persona"] as Persona;
    var technicalSkillsRepository = ViewData["TechnicalSkillRepository"] as ITechnicalSkillRepository;
    var softSkillsRepository = ViewData["SoftSkillRepository"] as ISoftSkillRepository;

    var technicalSkills = technicalSkillsRepository.GetAllTechnicalSkills();
    var softSkills = softSkillsRepository.GetAllSoftSkills();
}

<div class="text-center">
    <h1 class="display-4">Resume</h1>
    <h2 class="display-4">To do:</h2>
</div>

<div class="text-left">
    <ul>
        <li>Create Model Entities</li>
        <ul>
            <li><s>@persona.Name</s></li>
            <li>Professional Experience</li>
            <ul>
                Languages
                @foreach (TechnicalSkill skill in technicalSkills)
                {
                    @if (skill.Type == "Language")
                    {
                        <li>@skill.Name</li>
                    }
                }
            </ul>
            <ul>
                Technologies
                @foreach (TechnicalSkill technicalSkill in technicalSkills)
                {
                    @if (technicalSkill.Type == "Technology")
                    {
                        <li>@technicalSkill.Name</li>
                    }
                }
            </ul>
            <li>Soft Skills</li>
            <ul>
                @foreach(SoftSkill softSkill in softSkills)
                {
                    <li><b>@softSkill.Title</b>: @softSkill.Subtitle</li>
                }
            </ul>
            <li>Education</li>
        </ul>
        <li>Create data-driven view</li>
    </ul>
</div>